body{
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	background:white;
	position:relative;
}
h2{
	color:#284B8B;
	font-size:30px;
}
p{
	font-size:20px;
	text-align:justify;
}
hr{
	border:solid rgba(0,0,0,0.2) 1px;
}
.btn{
	background:#08C;
	border-radius:5px;
	text-align:center;
	height:5vh;
}
.btn:hover{
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.7);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	    transition: all 0.2s ease-in-out 0s;
	    cursor:pointer;
}
.btn h4{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	color:white;
	opacity:1;
	padding:5px;
}
.fixed{
	position:fixed;
	width:110%;
	top:0;
	left:0;
	z-index:99;
	-webkit-box-shadow: 2px 2px 2px 1px rgba(214,214,214,0.7);
}
.connect{
	height:5vh;
	letter-spacing:5px;
	font-size:20px;
	padding:5px;
	background:#F5F5F5;
}
.menubar{
	background:white;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
}
.menubar img{
	width:60px;
}
.menu{
	font-size:25px;
	padding:10px;
}
.menu ul {
	list-style:none;
}
.menu li{
	display:inline-block;
	letter-spacing:2px;
}
.menu a:hover{
	transition: 0.3s all ease 0;
	color:black;
	cursor:pointer;
	text-decoration:none;
}
.main{
	height:78vh;
	position:relative;
	text-align:center;
	overflow:hidden;
	background: linear-gradient(rgba(8,80, 120, 0.8), rgba(133, 216, 206, 0.8)), url(http://i.imgur.com/t9b3DvL.jpg);
}
.heading{
	font-family: 'Raleway', sans-serif;
	font-weight:500;
	position:absolute;
	top:20%;
	font-size:40px;
	color:white;
}
hr{
	width:60%;
	border:solid white 1px;
	opacity:0.7
}
.update{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	background-color:#FAFAFA;
	font-size:30px;
	padding:10px;
}
.update .btn h4{
	padding:0;
	margin-top:5px;
}
.session{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	background-color:#F5F5F5;
	border-radius:15px;
	margin-top:5%;
}
.session:hover{
	transition: all 0.2s ease-in-out 0s;
	-webkit-box-shadow: 0 5px 5px 0px rgba(0,0,0,0.5);
}
.session p{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
.session .btn{
	width:50%;
	margin-left:25%;
	margin-bottom:5%;
}
.team{
	margin-top:2%;
	margin-left:14%;
}
.interview p{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:20px;
	opacity:0.8;
}
.inteview .btn{
	width:50%;
	margin-left:25%;
	margin-bottom:5%;
}
.events{
	margin:5% 0;
	background:#F5F5F5;
	width:100%;
}
.events .seminars p{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size:18px;
}
.seminars .btn{
	font-size:20px;
	padding:5px;
	margin-top:4%;
	}
.seminars .btn h4{
	margin-top:-1%;
}
.seminarimg:hover{
	transition: all 0.2s ease-in-out 0s;
	-webkit-box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.5);
}
.footer{
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	height:25vh;
	margin-top:5%;
	background:black;
	color:white;
}
.footer .footerpos{
	margin-top:2.5%;
}
.footer .footerpos h6{
	line-height:30px;
	font-size:18px;
}
.footer .footerpos h5{
	line-height:30px;
	font-size:16px;
}
.footer .footerpos a:hover{
	text-decoration:none;
	color:white;
}
.fa-heart{
	color:red;	
}
@media (max-width: 992px){
	.seminars .btn{
		margin-top:0.5%;
	}
	.menu{
		font-size:15px;
	}
}	
@media (max-width: 650px){
	.menu{
		font-size:12px;
	}
	.main{
		height:60vh;
	}
	.main .heading{
		margin-top:30%;
		font-size:40px;
	}
	.main .highlighter{
		margin-top:15%;
	}
	.team{
		margin: 5% 8%;
	}
	.session{
		padding:15px;
		background:#F5F5F5;
	}
	.events{
		background:#F5F5F5;
	}
	.seminars p{
		display:none;
	}
	.footer{
		height:40vh;
	}
}